.app_header {
  width: 90%;
  margin: 0 auto 0;
  text-align: center;
  input {
    margin-top: 10px;
    border: none;
    border-bottom: 2px solid #3282b8;
    width: 50%;
    background: transparent;
    color: #fff;
    text-align: center;
    padding: 15px 5px;
    border-radius: 4px;
    font-size: 16px;
  }
}